@page
@model Joke_App.Pages.ProductMaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.ListItems)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.ListItems)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Qty)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Task.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
